<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://firstappanil.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/6b678711-e207-4bbe-bad3-cb45178f095c/resourceGroups/learn-1dea18ab-4c14-47a8-9fc5-71c8c1ef9356/providers/Microsoft.Web/sites/firstappanil</ResourceId>
    <UserName>$firstappanil</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://firstappanil.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>